/* Style for navigation bar */
 nav {
  font-family: 'Dancing Script', Georgia, Times, serif;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0px;
  margin: 0;
  font-size: 24px;
  color: white;
  background-color: #333333;
  z-index: 1;
}
nav .menue {
  max-width: 800px;
  margin: auto;
  padding: 0;
}
nav .menue_show {
  max-width: 800px;
  margin: auto;
  padding: 0;
}
nav a {
  color: white;
  display: inline-block;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}
nav a:active {
  color: white;
  text-decoration: none;
  background-color: #111111;
  height: 50px;
}
nav a:hover {
  color: white;
  text-decoration: none;
  background-color: #111111;
  height: 50px;
}
nav .list_button {
  display: none;
}

@media only screen and (max-width: 479px) {
  nav .list_button {
    display: inline-block;
    font-size: 18px;
    padding: 10px;
    height: 50px;
    background-color: #333333;
    border: none;
  }
  nav .menue {
    display: none;
  }
  nav .menue_show {
    display: block;
    position: absolute;
    background-color: #333333;
    z-index: 1;
  }
  nav .menue_show a {
    display: block;
    clear: both;
    text-align: left;
    width: 100%;
  }
}

/* Style for main text/article */
body, html {
  height: 100%;
  width: 100%;
}
.background1 {
  background-image: url(../css/flower.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.background2 {
  height: 100%;
  width: 100%;
  background: url(../css/tree.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.transparent {
  background-color: rgba(256,256,256,0.7);
  /*height:100%;*/
}
main {
  font-family: "Times New Roman", Times, serif;
  max-width: 800px;
  margin: auto;
  padding: 60px 15px 0 15px;
}
main p{
  font-size: 20px;
  line-height: 1.8;
}
main h1{
  font-family: "Comic Sans MS";
  font-size: 34px;
  line-height: 1.5;
}
main h2{
  font-family: "Comic Sans MS";
  font-size: 30px;
}
main h3{
  font-family: "Comic Sans MS";
  font-size: 26px;
}
main h4{
  font-family: "Comic Sans MS";
  font-size: 22px;
}
main figure {
  display: block;
  padding: 5px;
}
main figure img{
  max-width: 320px;
}
main table {
  margin: 10px;
  font-size: 16px;
}
main table th {
  background-color: #DDDDDD;
  border: solid;
  padding: 5px;
}
main table td {
  border: solid;
  padding: 5px;
}
main .notebox {
  clear: right;
  background-color: #EEEEEE;
  margin: 20px;
  padding: 10px;
  float: right;
  max-width: 400px;
  box-shadow: 5px 5px #999999;
  font-size: 16px;
}
main ol {
  font-size: 20px;
}
main .projects {
  font-family: "Comic Sans MS";
  /*display: inline-table;*/
  /*vertical-align: middle;*/
  font-size: 26px;
  width: 100%;
  overflow: hidden;
  margin: 30px 20px 0 20px;
  text-align: center;
  padding-right: 30px;
}
main .projectfig {
  float: left;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border:solid black;
  border-radius:25px;
  background-color: #FFFFFF;
  margin: 0 30px 0 30px;
}
main .projects a{
  color: #000000;
}
@media only screen and (max-width: 479px) {
  main p{
    font-size: 14px;
    line-height: 1.5;
  }
  main h1{
    font-size: 28px;
    line-height: 1.4;
  }
  main .notebox {
    background-color: #EEEEEE;
    margin: 15px 0px;
    padding: 10px;
    clear: both;
    width: 100%;
    box-shadow: 5px 5px #999999;
    font-size: 14px;
  }
}
